body, html{
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

@font-face {
    font-family: norseBold;
    src: url(assets/Norse-Bold.otf);
}
.container{
    overflow: hidden;
    display: flex;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hero{
    position: relative;
    text-align: center;
    color:white ;
}

.hero img {
    height: 100vh;
    width: 40vw;
}


.imageText{
    position: absolute;
    top:2%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: norseBold , sans-serif;
    font-size: 100px;
    letter-spacing: 15px;
}

.imageText img{
    width: 25%;
    height: 25%;

}

.hero a{
    text-decoration: none;
    color: lightgray;
}
small{
    position: absolute;
    bottom:1%;
    right:30%;
}

.content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.head{
    padding: 120px 130px 20px 50px;  
    background-image: linear-gradient(to bottom, purple , pink);
    box-sizing: border-box;
    width: 60vw;
}

.signup-form{
 margin-bottom: 40px;
 padding: 50px 20px;
 background-color: whitesmoke;
 box-shadow: 0px 15px 10px -15px #111;
}

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 20vh;
    padding: 10px 40px;
    justify-content: space-around;
}

label{
    letter-spacing: 1.3px;
    color:rgba(77, 41, 130, 0.9);
    font-size:13px;
}

.contact > div{
    display: flex;
    flex-direction: column;
    width: 160px;
}

input{
    width: 14vw;
    height: 2.5vh;
    box-shadow: 3.5px 3.5px darkorchid;
}

input[type]:focus{
    box-shadow: none;
}

div .contact{
    gap:20px;
    padding-right: 100px;
}

.signup-form h3{
    padding:10px 40px; 
    color :rgb(77, 41, 130);
}

.login{
    padding: 20px 60px;
}

button{
    height: 40px;
    width: 200px;
    background-color: rgb(6, 11, 43);
    color: white;
    font-weight: 700;
    box-shadow: 4px 4px rgb(179, 89, 179);
}

.login p{
    color: rgb(6, 11, 43);
}

.login a{
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}   